@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quadrado{
    text-align: center;
    width: 50px;
    background-color: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
}

.quadrado:hover{
    background-color: rgba(0, 0, 0, 0.267);
}

.vencedor, .jogador{
    font-size: 20px;
    margin-top: 10px;
}

button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(159, 97, 216, 0.356);

}